.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex-column > div {
  margin-bottom: 1em;
}

.divider {
  height: 1px;
  width: 80%;
  border-bottom: 1px solid;
  margin: 2em 0;
}